<!DOCTYPE html>
<html lang="en">

<head>
    <title>Watson text to speech</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/skeleton/normalize.css">
    <link rel="stylesheet" href="css/skeleton/skeleton.css">
</head>

<body>
    <div class="container">
        <div class="row">
            <h1>Watson Text to Speech Service</h1>
        </div>

        <form>
            <div class="row">
                <div class="six columns">
                    <label for="exampleEmailInput">Your email</label>
                    <input class="u-full-width" type="email" placeholder="test@mailbox.com" id="exampleEmailInput">
                </div>
                <div class="six columns">
                    <label for="exampleRecipientInput">Reason for contacting</label>
                    <select class="u-full-width" id="exampleRecipientInput">
        <option value="Option 1">Questions</option>
        <option value="Option 2">Admiration</option>
        <option value="Option 3">Can I get your number?</option>
      </select>
                </div>
            </div>
            <label for="exampleMessage">Message</label>
            <textarea class="u-full-width" placeholder="Hi Dave …" id="exampleMessage"></textarea>
            <label class="example-send-yourself-copy">
    <input type="checkbox">
    <span class="label-body">Send a copy to yourself</span>
  </label>
            <input class="button-primary" type="submit" value="Submit">
        </form>

        <iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/309855164&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
    </div>
</body>

</html>